<body>
    <div class="container my-2 rounded">
        <div class="jumbotron jumbotron-fluid bg-green-500 text-white text-center rounded">
            <h1 class="text-2xl text-white font-semibold mb-2 tracking-wide md:text-4xl">Borger Shop 2</h1>
            <h5 class="italic md:text-xl">The Sequel to MySQL</h5>
            <div class="imgContainer md:flex md:py-2 md:mb-2">
                
                <div class="relative h-40 w-40 mx-auto mt-4 md:w-64 md:w-64">
                    <img class="absolute top-0 h-full w-full object-cover border-2 border-white rounded-lg " src="https://natashaskitchen.com/wp-content/uploads/2019/04/Best-Burger-4.jpg" alt="Burger-1"/>
                </div>
            
                <div class="relative h-40 w-40 mx-auto mt-4 md:w-64 md:w-64">
                    <img class="absolute top-0 h-full w-full object-cover border-2 border-white rounded-lg " src="https://tmbidigitalassetsazure.blob.core.windows.net/secure/RMS/attachments/37/1200x1200/exps28800_UG143377D12_18_1b_RMS.jpg" alt="Burger-2"/>
                </div>
            
            </div>
            
            <hr class="my-8 mx-8 border border-white">
            
            <div class="mb-2">
                <h5 class="font-semibold mb-2 md:text-xl md:tracking-wide">Welcome to the Borger Shop!</h5>
                <p class="text-xs md:text-base">Enter what kind of burger you would like to order</p>
            </div>
            
            <form class="create-form">
                <input id="newburger" class="rounded text-green-500 px-2 placeholder-green-500" placeholder="Burger Name">
                {{!-- <input id="newCustomer"> --}}
                <button type="submit" class="mx-2 border-2 border-white rounded px-1 bg-white text-green-500" id="addburger">Submit</button> 
            </form>
        </div>

        <div class="row justify-content-between">
            <div class="col-md-6">
                <div class="card mb-3 border border-green-500 text-dark">
                    <div class="card-header bg-green-500 text-light">Ordered Burgers</div>
                    <div class="card-body">
                        <ul>
                            {{#each burgers}}
                                {{#unless devoured}}
                                    <div class="my-4">
                                        <span >{{this.name}}</span>
                                        <input class="ml-2 rounded text-green px-2 placeholder-green-500 border border-green-500" placeholder="Enter Customer Name" id="customerName">
                                        <button class="btn btn-outline-success eatburger ml-2" id="eatbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}" data-name="{{this.name}}">Devour</button>
                                    </div>
                                    <hr>
                                {{/unless}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3 border border-green-500 text-dark">
                    <div class="card-header bg-green-500 text-light">Devoured Burgers</div>
                    <div class="card-body">
                         <ul>
                            {{#each burgers}}
                                {{#if devoured}}
                                    <div class="my-4">
                                            <span>{{this.name}}</span>
                                            <span class="ml-2">Devoured By: {{this.Customer.name}}</span>
                                            <button class="btn btn-outline-success trashburger ml-2" id="trashbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}">All Done!</button>
                                    </div>
                                    <hr>
                                {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div> 
</body>
